h3 考评页面
style.
    tr th {
        text-align:center;
    }
    tbody tr td {
        text-align:center;
    }
    input {
        text-align:center;
    }
.container
    .row 
        label.col-sm-1 姓名：
        span.col-md-2 {{$root.account.username}}

        form.form-horizontal
            label.col-sm-1 选择部门：
            .col-md-3
                select.form-control(ng-options='item.departmentName for item in relations', ng-model='department',ng-change='changeDepartment()')
                .form-group.text-right
    .row
        form.form-horizontal
            label.col-sm-1 日期：
            span
                .input-group.col-md-2
                    input.form-control(type='text', placeholder='选择日期', ng-model='datePicked', datepicker-popup='{{format}}', is-open='opened.start', datepicker-options='dateOptions', my-date, ng-required='true', current-text='今天', clear-text='清除', close-text='关闭', ng-disabled='true')
                    span.input-group-btn
                        button.btn.btn-default(type='button', ng-click='open($event, "start")')
                            em.fa.fa-calendar
hr
#container.row(style='overflow-y: scroll')
    .col-sm-12(style='background-color:white')        
                .form-group(ng-repeat='data_i in data')
                    // START table-responsive
                    h4(style="text-align:center") {{data_i.indexName}}
                    .table-responsive
                        table.table.table-bordered.table-condensed.table-hover
                            thead
                                tr
                                    th.col-sm-1 序号
                                    th.col-sm-1 指标名称 
                                    th.col-sm-1 加分内容
                                    th.col-sm-2 数量
                                    th.col-sm-1 加分情况说明
                                    th.col-sm-1 减分内容
                                    th.col-sm-2 数量
                                    th.col-sm-1 减分情况说明
                                    th.col-sm-1 得分
                                    th.col-sm-1 操作
                            tbody(ng-repeat='item in data_i.items')
                                tr
                                    td {{$index+1}}
                                    td {{item.indexName}}
                                    td {{item.increaseName}}({{item.increasePoint}}分/{{item.increaseUnit}})
                                    td 
                                        button.btn(ng-click="operate(item, 0, -1)") 
                                            i.fa.fa-minus
                                        input(style="text-align: center;" type="text" size="2" placeholder="" ng-model="item.increaseNum")
                                        button.btn(ng-click="operate(item, 0, 1)")
                                            i.fa.fa-plus
                                    td 
                                        input(style="text-align: center;" type="text" placeholder="" ng-model="item.increaseDetail")
                                    td {{item.decreaseName}}(-{{item.decreasePoint}}分/{{item.decreaseUnit}})
                                    td 
                                        button.btn(ng-click="operate(item, 1, -1)") 
                                            i.fa.fa-minus
                                        input(style="text-align: center;" type="text" size="2" placeholder="" ng-model="item.decreaseNum")
                                        button.btn(ng-click="operate(item, 1, 1)")
                                            i.fa.fa-plus
                                    td 
                                        input(style="text-align: center;" type="text" placeholder="" ng-model="item.decreaseDetail")
                                    td {{item.totalPoint}}
                                    td
                                        button.btn.btn-link(type='button', ng-click='reset(item)')
                                            span 清空
                            //- tfoot
                            //-     tr(ng-if='results.length===0')
                            //-         td(colspan='11') 暂无数据
                    // END table-responsive
                p 今日得分：{{totalPoints}}
                hr

                p
                    span
                        button.btn.btn-block.btn-success(type='button', ng-click='submit()') 提交
                    span
                        button.btn.btn-block.btn-default(type='button', ng-click='resetAll()') 重置
        