h3 成长曲线

#container(style="margin:0 auto")
    .row
        .form-inline.col-lg-12
            label.form-inline 人员:
                select.form-control(ng-options='item.key as item.value for item in GraphPersonList', ng-model='search.personId',ng-change='loadRelations()')
            label.form-inline 选择部门：
                select.form-control(ng-options='item.departmentId as item.departmentName for item in relations', ng-model='search.departmentId',ng-change='loadData()')
            label.form-inline 起止日期:
                .input-group
                    input.form-control(type='text', placeholder='开始日期', ng-model='timeStart', datepicker-popup='{{format}}', is-open='opened.start', datepicker-options='dateOptions', my-date, ng-required='true', current-text='今天', clear-text='清除', close-text='关闭',ng-change='loadData()')
                    span.input-group-btn
                        button.btn.btn-default(type='button', ng-click='open($event, "start")')
                            em.fa.fa-calendar
                .input-group
                    input.form-control(type='text', placeholder='截止日期', ng-model='timeEnd', datepicker-popup='{{format}}', is-open='opened.end', datepicker-options='dateOptions', my-date, ng-required='true', current-text='今天', clear-text='清除', close-text='关闭',ng-change='loadData()' )
                    span.input-group-btn
                        button.btn.btn-default(type='button', ng-click='open($event, "end")')
                            em.fa.fa-calendar
    hr
    .row(style="margin:0 auto")
        canvas#myChart(style="width:1000px")
