h3 绩效查看

#container.row(style='overflow-y: scroll')
    .col-lg-12
        h4.row
            span.col-lg-2 部门:{{relations.departmentName}}
            span.col-lg-2 职务:{{relations.level}}
            span.col-lg-2 姓名:{{$root.account.username}}
        hr
        .row
            .form-inline.col-lg-12
                label.form-inline 人员:
                    select.form-control(ng-options='item.id as item.username for item in persons', ng-model='search.personId',ng-change='loadData()')
                            .form-group.text-right
                label.form-inline 得分类型:
                    select.form-control(ng-options=' item.key as item.value for item in IncreaseTypeList', ng-model='search.increaseType',ng-change='loadData()')
                    .form-group.text-right
                label.form-inline 评语类型:
                    select.form-control(ng-options=' item.key as item.value for item in CommentTypeList', ng-model='search.commentType',ng-change='loadData()')
                    .form-group.text-right
                label.form-inline 起止日期:
                    .input-group
                        input.form-control(type='text', placeholder='开始日期', ng-model='timeStart', datepicker-popup='{{format}}', is-open='opened.start', datepicker-options='dateOptions', my-date, ng-required='true', current-text='今天', clear-text='清除', close-text='关闭',ng-change='loadData()')
                        span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='open($event, "start")')
                                em.fa.fa-calendar
                    .input-group
                        input.form-control(type='text', placeholder='截止日期', ng-model='timeEnd', datepicker-popup='{{format}}', is-open='opened.end', datepicker-options='dateOptions', my-date, ng-required='true', current-text='今天', clear-text='清除', close-text='关闭',ng-change='loadData()' )
                        span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='open($event, "end")')
                                em.fa.fa-calendar
        hr
        // START panel
        .panel.panel-default
            tabset
                tab(heading='搜索结果')
                    // START table-responsive
                    .table-responsive
                        table.table.table-condensed.table-bordered.table-hover
                            thead
                                tr
                                    th.col-sm-1 序号
                                    th.col-sm-1 日期
                                    th.col-sm-1 指标名称 
                                    th.col-sm-1 加分内容
                                    th.col-sm-1 数量
                                    th.col-sm-1 加分说明
                                    th.col-sm-1 减分内容
                                    th.col-sm-1 数量
                                    th.col-sm-1 减分说明
                                    th.col-sm-1 得分
                                    th.col-sm-3 领导评语
                                    //- th 操作
                            tbody(ng-repeat='item in items')
                                tr
                                    td {{$index+1}}
                                    td {{item.standardDate | date:'yyyy-MM-dd'}}
                                    td {{item.indexName}}
                                    td {{item.increaseName}}({{item.increasePoint}}分/{{item.increaseUnit}})
                                    td {{item.increaseNum}}
                                    td {{item.increaseDetail}}
                                    td {{item.decreaseName}}(-{{item.decreasePoint}}分/{{item.decreaseUnit}})
                                    td {{item.increaseNum}}
                                    td {{item.decreaseDetail}}
                                    td {{item.totalPoint}}
                                    td 
                                        input(style="text-align: center;" type="text" placeholder="" ng-model="item.commentContent" ng-hide="disableComment")
                                        span(ng-show="disableComment"){{item.commentContent}}
                            tfoot
                                tr(ng-if='results.length===0')
                                    td(colspan='11') 暂无数据
                    // END table-responsive
                    hr
                    .row
                        .col-lg-12.text-right
                            button.btn.btn-primary(type='button', ng-click='editComment()')
                                span 编辑评语
                            button.btn.btn-primary(type='button', ng-click='saveComment()')
                                span 保存评语
                    .row
                        .col-lg-12.text-center
                            pagination.pagination-sm(total-items='totalItems', ng-model='search.page', ng-change='loadData()', items-per-page='search.size', max-size='10', boundary-links='true', previous-text='‹', next-text='›', first-text='«', last-text='»')
