h3.text-center.text-thin 界面设置

.p
  h4.text-muted.text-thin 主题

  .table-grid.mb
    .col.mb
      .setting-color
        label(load-css="app/css/theme-a.css")
          input(type="radio", name="setting-theme", checked="checked")
          span.icon-check
          span.split
            span.color.bg-info
            span.color.bg-info-light
          span.color.bg-white
    .col.mb
      .setting-color
        label(load-css="app/css/theme-b.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-green
            span.color.bg-green-light
          span.color.bg-white
    .col.mb
      .setting-color
        label(load-css="app/css/theme-c.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-purple
            span.color.bg-purple-light
          span.color.bg-white
    .col.mb
      .setting-color
        label(load-css="app/css/theme-d.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-danger
            span.color.bg-danger-light
          span.color.bg-white
  .table-grid.mb
    .col.mb
      .setting-color
        label(load-css="app/css/theme-e.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-info-dark
            span.color.bg-info
          span.color.bg-gray-dark
    .col.mb
      .setting-color
        label(load-css="app/css/theme-f.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-green-dark
            span.color.bg-green
          span.color.bg-gray-dark
    .col.mb
      .setting-color
        label(load-css="app/css/theme-g.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-purple-dark
            span.color.bg-purple
          span.color.bg-gray-dark
    .col.mb
      .setting-color
        label(load-css="app/css/theme-h.css")
          input(type="radio", name="setting-theme")
          span.icon-check
          span.split
            span.color.bg-danger-dark
            span.color.bg-danger
          span.color.bg-gray-dark
